terraform {
  backend "s3" {
    bucket         = "usfarcade-881933021016-us-east-1-tfstate"
    key            = "usfarcade/dev/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "usfarcade-terraform-locks"
    encrypt        = true
  }
}
